<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<%- include("partials/container.ejs") %>

<h1 class="text-3xl">Dashboard</h1>

<p class="mb-5">Hi <%= user.userName %></p>

<p><a href="/workouts" class="inline-block bg-dyelred2 p-3 rounded text-sm text-white hover:bg-red-700">Workouts</a></p>

<%- include("partials/container-bottom.ejs") %>
<%- include("partials/footer.ejs") %>