<%- include("partials/header.ejs") %>

<%- include("partials/nav.ejs") %>

<%- include("partials/container.ejs") %>

<h1 class="text-3xl mb-5">Dashboard</h1>

<p><a href="/workouts" class="inline-block bg-dyelred2 p-3 rounded text-sm text-white hover:bg-red-700">Workouts</a></p>

<%- include("partials/container-bottom.ejs") %>

<%- include("partials/footer.ejs") %>