<%- include("partials/header.ejs") %>

<h1>Edit exercise <%= user.userName %></h1>
<p><a href="/dashboard">Back to dashboard</a></p>
<p><a href="/workouts">Back to workouts list</a></p>

<% for(let exercise of exercises) { %>
    <% if(exercise._id == exerciseId) {%>
        <form action="/workouts/edit/<%= exercise._id %>" method="POST">
            <label for="exercise">Exercise</label>
            <br><input type="text" value="<%= exercise.exercise %>" name="exercise" id="exercise">

            <br><label for="date">Date</label>
            <br><input type="date" name="date" id="date" value="<%= exercise.date %>">

            <br><label for="description">Description</label>
            <br><textarea name="description" id="description" cols="30" rows="5"><%= exercise.description %></textarea>

            <br><input type="submit" value="Submit changes">
        </form>
        <form action="/workouts/delete/<%= exercise._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
    <% } %>
<% } %>

<%- include("partials/footer.ejs") %> 