<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<%- include("partials/container.ejs") %>

<h1 class="text-3xl mb-4">Food</h1>

<p><a href="/food/add" class="inline-block bg-dyelred2 px-4 py-2 mb-2 rounded-lg text-sm font-semibold text-white hover:bg-red-700">Add food</a></p>

<section class="grid lg:grid-cols-3 sm:grid-cols-1 gap-4">
<!-- loop through dates in exercise list -->
    
</section>

<%- include("partials/container-bottom.ejs") %>
<%- include("partials/footer.ejs") %>