<%- include("partials/header.ejs") %>

<h1>WORKOUT LIST FOR <%= user.userName %></h1>

<p><a href="/workouts/add">Add exercise</a></p>

<div>
    <% for(let date in exercise) { %>
        <div>
            <h2><%= date %></h2>
            <p><%= exercise[date] %></p>
        </div>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>