<%- include("partials/header.ejs") %>

<h1>WORKOUT LIST FOR <%= user.userName %></h1>

<p><a href="/workouts/add">Add exercise</a></p>
<p><a href="/dashboard">Back to dashboard</a></p>

<div>
    <!-- loop through dates in exercise list -->
    <% for(let dateGroup in exercise) { %>
        <div>
            <h2><%= dateGroup %></h2> <!-- display date -->
            <!-- loop through date in dates within exercise list -->
            <% for(let date in exercise[dateGroup]) { %>
                <!-- display properties in date -->
                <p><%= exercise[dateGroup][date]['exercise'] %></p>
                <p><%= exercise[dateGroup][date]['description'] %></p>
                
                <p><a href="/workouts/<%= exercise[dateGroup][date]['_id'] %>">Edit</a></p>
            <% } %> <!-- end of loop -->
        </div>
    <% } %> <!-- end of loop -->
</div>

<%- include("partials/footer.ejs") %>