<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<%- include("partials/container.ejs") %>

<h1 class="text-3xl mb-4">Workouts</h1>

<p><a href="/workouts/add" class="inline-block bg-dyelred2 px-4 py-2 mb-2 rounded-lg text-sm font-semibold text-white hover:bg-red-700">Add exercise</a></p>

<section class="grid lg:grid-cols-3 sm:grid-cols-1 gap-4">
<!-- loop through dates in exercise list -->
<% for(let dateGroup in exercise) { %>
    <div class="bg-white rounded drop-shadow-md border border-gray-200 p-2">
        <h2 class="text-sm font-medium text-dyelred2"><%= dateGroup %></h2> <!-- display date -->
        <!-- loop through date in dates within exercise list -->
        <% for(let date in exercise[dateGroup]) { %>
            <!-- display properties in date -->
            <p class="text-lg font-medium"><%= exercise[dateGroup][date]['exercise'] %></p>
            <p class="text-sm text-gray-500 text-base whitespace-pre-line"><%= exercise[dateGroup][date]['description'] %></p>
            
            <p class="mt-1.5 mb-2"><a href="/workouts/edit/<%= exercise[dateGroup][date]['_id'] %>" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold">Edit</a></p>
        <% } %> <!-- end of loop -->
    </div>
<% } %> <!-- end of loop -->
</section>

<%- include("partials/container-bottom.ejs") %>
<%- include("partials/footer.ejs") %>
