<%- include("../partials/header.ejs") %>
<%- include("../partials/nav.ejs") %>
<%- include("../partials/container.ejs") %>

<h1 class="text-3xl mb-5">Add food</h1>

<section class="md:w-max border border-gray-200 bg-white shadow-md rounded p-4">
    <form action="/food/add-food" method="POST">
        <div class="mb-4">
            <label for="date" class="block text-gray-700 text-sm font-bold mb-2">Date</label>
            <input type="date" name="date" id="date" class="shadow border border-slate-300 rounded-lg p-2 text-sm">
        </div>

        <div class="mb-4">
            <label for="meal" class="block text-gray-700 text-sm font-bold mb-2">Meal</label>
            <select name="meal" id="meal" class="shadow border border-slate-300 rounded-lg w-full py-2 px-3 text-gray-700 text-sm">
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Snacks">Snacks</option>
            </select>
        </div>
        
        <div class="mb-4">
            <label for="food" class="block text-gray-700 text-sm font-bold mb-2">Food</label>
            <input type="text" name="food" id="food" class="shadow border border-slate-300 rounded-lg w-full py-2 px-3 text-gray-700 text-sm">
        </div>

        <div class="mb-4">
            <label for="calories" class="block text-gray-700 text-sm font-bold mb-2">Calories</label>
            <input type="number" name="calories" id="calories" class="shadow border border-slate-300 rounded-lg w-full py-2 px-3 text-gray-700 text-sm">
        </div>

        <div class="mb-4">
            <label for="protein" class="block text-gray-700 text-sm font-bold mb-2">Protein</label>
            <input type="number" name="protein" id="protein" class="shadow border border-slate-300 rounded-lg w-full py-2 px-3 text-gray-700 text-sm">
        </div>

        <div>
            <input type="submit" value="Add" class="inline-block bg-dyelred2 px-4 py-2 mb-2 rounded-lg text-sm text-white font-semibold hover:bg-red-700">
            <a href="/food" class="inline-block bg-gray-400 px-4 py-2 mb-2 rounded-lg text-sm text-white font-semibold hover:bg-gray-700">Cancel</a>
        </div>
    </form>
</div>

<%- include("../partials/container-bottom.ejs") %>
<%- include("../partials/footer.ejs") %>
